html,
body,
main {
  display: flex;
  margin-top: 40px;
  background:#EDF6F9;
  width: 100%;
  align-items: flex-start;
}

h1 {
  color: #035E7B;
  margin-bottom: 20px;
  font-size: 50px;
}

.chat {
  margin-top: 0;
  margin-bottom: 40px;
}

.contact-box {
  display: flex;
  flex-direction: column;
}

.intro {
  height: fit-content;
}

.intro > img {
  width: 300px;
  height: auto;
  border-radius: 50%;
  border: 4px solid #035E7B;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.contact  > p {
  color: #035E7B;;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
  p > img {
  padding: 5px;
}

@media screen and (min-width: 800px) {
  .intro > img  {
    width: 500px;
  }

  .chat {
    display: flex;
    flex-direction: row-reverse;
  }
  .icons > a > img {
    width: 75px;
    height: 75px;
  }
}
