html,
body,
main {
  margin-top: 0;
  background:#EDF6F9;
  width: 100%;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headshot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headshot > img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 8px solid #035E7B;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  background:#EDF6F9;
  width: 250px;
}

@media screen and (min-width: 800px) {
  .home-card {
    display: flex;
    align-items: row;
  }
}