html,
main {
  margin-top: 60px;
  height: 80%;
  background:#EDF6F9;
  width: 100%;
}

body {
  border: 0;
  height: 0;
}

#root,
.project-list {
  width: 100%;
  padding: 0;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  margin-top: 1600px;
  border: 0;
  height: 50vh;
  /* padding-top: 1000px;   */

}

li {
  width: 350px;
  box-shadow: 2px 10px 18px 5px  #035E7B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  
}

.preview {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preview > img {
  height: 180px;
  width : 300px;
  margin: 15px;
  border: solid 5px #035E7B;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  margin-bottom: 5%;
}

.project-description {
  margin: 15px;
}

.tech-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.tech-icons {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

button {
  border: none;
  width: 100%;
  font-size: 20px;
  padding: 3px;
  border-radius: 25%;
  color: #035E7B;
  font-weight: bold;
}

button:hover {
  color: #FF8E72;
  background: none;
}

a {
  text-decoration: none;
}
@media screen and (min-width: 600px) {
  
  .preview > img {
    height: 300px;
    width : 500px;
  }

  .project-list {
    margin-top: 0;
  }
  
  .projects {
    margin-top: 400px;
  }
  
  li {
    width: 90%;
  }
}

@media screen and (min-width: 800px) {
  .preview {
    flex-direction: row;
    margin: 0 10%;
  }

  .title {
    width: 400px; 
    padding: 10px;
  }

  .projects {
    margin-top: 900px;
  }

  li {
    width: 90%
  }

  
}