#resume-details {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9f5ff;
  text-align: center;
  width: 400px;
  padding: 0;
  border: 0;
  margin-bottom: 0;
}

#resume-details > h1 {
  width: 400px;
  padding: 0;
  color: #f9f5ff;
  margin-bottom: 0;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f5ff;
  text-align: center;
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}

a > h1:hover {
  color: #f9a03f;
}

@media screen and (min-width: 700px){
  h1 {
    width: 600px
  }
}