.resume-details {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9f5ff;

}

.resume-details > h1 {
  width: 400px;
  padding: 0;
  color: #f9f5ff;
  border-bottom: 4px solid#ffffff80;
  margin-bottom: 0;
}

h1:hover {
  color: #f9a03f;
}

@media screen and (min-width: 700px){
  h1 {
    width: 600px
  }
}