.resume-details {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: center;
  justify-content: center;

}
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
}

h2 > a {
  color: #FF8E72;
  text-decoration: none;
}

a:hover {
  color: #FF8E72; 
}